<header class="bg-light py-4">
    <div class="container">
        <h1 class="text-center">Desarrollador</h1>
    </div>
</header>

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="../../../assets/images/kev.jpg" class="img-fluid" title="Foto Kevin Castillo desarrollador" alt="Foto Kevin Castillo desarrollador">
        </div>
        <div class="col-md-6">
            <h3 class="text-left">Nombre</h3>
            <p class="text-left">Kevin Castillo</p>
            <h3 class="text-left">Edad</h3>
            <p class="text-left">22 años de edad</p>
            <h3 class="text-left">Correo</h3>
            <p class="text-left">kcastilloo1&#64;est.ups.edu.ec</p>
            <h3 class="text-left">GitHub</h3>
            <p class="text-left"><a href="https://github.com/KevsWit">https://github.com/KevsWit</a></p>
        </div>
    </div>
</div>
