<div class="container">
  <form>
  <div class="text-center">
    <img src="../assets/images/andypan-logo.png" alt="ANDYPAN" width="30%" style="padding-top: 10px;">
    <h1 class="text-warning bg-dark" style="padding-top: 10px;padding-bottom: 10px;">Panadería y Pastelería</h1>
    <p class="text-center" style="font-size: 2rem;"><i>En tu mesa prestigio, sabor y calidad...</i></p>
    <app-menu-principal></app-menu-principal>
    <router-outlet></router-outlet>
  </div>
</form>
</div>
<footer class="bg-dark text-light py-3 text-center">
  <p>&copy; 2024 ANDYPAN - Todos los derechos reservados.</p>
</footer>