<header class="bg-light py-4">
    <div class="container">
        <h1 class="text-center">Bienvenido a AndyPan</h1>
    </div>
</header>
<div class="container my-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center mb-4">
                <img src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYRD8vWhFlqwRVJeBkJa_ftKzHKIYRRWrgLa7QhlDUKdXAu0vhjgOt4XSHGKzntru-sLbiZ4SSUCtzN_gGKkXT6xRC7xnQ=s1600" title="Panadería AndyPan" alt="Panadería AndyPan" class="img-fluid">
            </div>
            <div class="text-center">
                <p class="text-muted">Somos una panadería artesanal comprometida con la calidad y el sabor. En AndyPan, horneamos deliciosos panes y productos frescos todos los días.</p>
                <p class="text-muted">¡Visítanos y disfruta de nuestros productos recién hechos!</p>
            </div>
        </div>
    </div>
</div>
